.flex-container{
    display: flex;

}
.flex-container div{
    display: flex;
    justify-content: space-between;
    background: tan;
    border: 4px black;
    padding: 10px;
    margin: 50px;
    flex-wrap: wrap;
    font-weight: 700;
    text-align: center;
}
h1{
    text-align: center;
}

.ahi-container{
    display: flex;
    flex-wrap: wrap;
    border: solid black;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.ahi-piccaption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black; 
    flex-wrap: wrap;   
}
.ahi-pic{
    display: flex;
    flex: 1 1 0;
    flex-wrap: nowrap;
    min-height: 10;
    
    height: fit-content;
    
}
.ahi-content{
    display: flex;
    flex: 2 1 0;
}
.ahi-title{
    font-weight: 800;
    font-size: 200px;
    background-color: aqua;
    color: brown;
    border: solid black;
}
/*
.ahi-ingredients{
    display: flex;
    width: 50%;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    justify-content: flex-end;
    border: solid black;
}
.ahi-steps{
    width: 50%;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    border: solid black;
}
